<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Kelly's Website</title>

</head>
<body>

<!-- Page Contents top level section-->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary stackable inverted pointing menu">
        <a class="item" href="#about">About</a>
        <a class="item">Latest</a>
        <a class="item">Calendar</a>
        <a class="item" href="#listen">Listen</a>
        <div class="right item">
          <h3 class="gold kelly-name-font">Kelly Lin</h1>
        </div>
      </div>
      <div class="img-container">
        <%=image_tag "orchestra.jpg" %>
      </div>
      <br><br>
    </div>
  </div>

  <!-- gold stripe background -->
  <div class="boxed">
  </div>

<!-- About page -->

<h4 id="about" class="ui horizontal divider header">
  <i class="chevron down icon"></i>
  ABOUT
</h4>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h4>Dr. Kelly Yu-Chieh Lin is a sought-after young pianist, who began her musical studies at an early age on the piano, violin, viola, and er-hu (a traditional Chinese instrument). Soon after, she was winning national competitions and awards on all four instruments in her native Taiwan.</h4>
          <h4>Dr. Lin studied at the Idyllwild Arts Academy with Nelms McKelvain, where she graduated with the Most Promising Artist Award. She then earned Bachelor, master degrees, and Graduate Certificate at the University of Southern California, where she studied with John Perry with full scholarship. Dr. Lin received her Doctorate of Music Art with Daniel Epstein at Rutgers University this May 2015 where she received full scholarship with a teaching assistantship, while balancing a busy schedule as a solo pianist, an accompanist, a piano teacher, and a chamber musician.</h4>
        </div>
        <div class="six wide right floated column">
          <img src="http://photos.instantencore.com/110326/110326_750.jpg" alt="headshot" height="450rem" >
        </div>
      </div>
    </div>
  </div>

  <br><br>

<!-- Quote section -->
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"Too good to be true!"</h3>
          <p>N.Y Times</p>
        </div>
        <div class="column">
          <h3>"Pure talent! Fantastic Pianist"</h3>
          <p>
            <b>Aaron T.</b> Founder & CEO of Menu, Inc.
          </p>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br>
  <h4 id="listen" class="ui horizontal divider header">
    <i class="chevron down icon"></i>
    LISTEN
  </h4>

  <div class="ui vertical stripe segment">
    <div class="ui equal width stackable grid">
      <div class="center aligned row">
        <div class="column">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/Mn8ENbeyYgo" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="column">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/fVtVJFHuWr0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="center aligned row">
        <div class="column">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/M1nekISG5bQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="column">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/JUGApBvvWWc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="center aligned row">
        <div class="column">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/GfD8HR-uvMc" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="column">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/G7VKMnobUVQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <br><br>


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="sixteen wide column">
        <p class="gold center-text">
          <br>
          Copyright <i class="copyright icon"></i> 2016 Kelly Lin | All rights reserved.
        </p>
        <br>
      </div>
    </div>
  </div>
</div>

</body>
</html>

