<div class="ui vertical masthead center aligned segment">
  <div class="ui margin-top-4 container">
    <div class="ui grid">
      <div class ="ui centered aligned row ">
        <% if current_user %>
          <%= link_to "Add a Video", new_video_path, class: "ui red button" %>
        <% end %>
      </div>
      <div class="ui centered aligned row">
        <% @videos.each do |video| %>
          <a class="video fancybox.iframe" href="https://www.youtube.com/embed/<%= video.url %>" rel="gallery1">
            <img class ="thumbnail" src= "http://img.youtube.com/vi/<%= video.url %>/0.jpg"/>
            <h4 class="thumbnail-name"><%= video.name %></h4>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

