<div class="ui container">
  <div class="ui margin-top-4 grid">
      <div class ="ui centered aligned row">
        <% if current_user %>
          <%= link_to "Add a Photo", new_photo_path, class: "ui red button" %>
        <% end %>
      </div>
      <div class="ui centered aligned row">
        <% @photos.each do |photo| %>
          <a class="video fancybox.iframe" href="<%= photo.url %>">
            <div class="ui medium images">
            <img class ="thumbnail" src= "<%= photo.url %>" />
            <p class="thumbnail-name"><%= photo.description %></p>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
