.gold {color: #c5b358;}

body {
  background-color: #EEEDEB;
}

.img-container {
  width: 82%;
  display: block;
  margin: 0% auto;
}

.img-container img {
  max-height:100%;
  max-width: 100%;
}

.boxed {
  border: 1rem solid #c5b358 ;
}

.center-text {text-align: center;}

.about-text {
  margin: 10%;
  font-size: medium;
  text-align: justify;
}

.kelly-name-font {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

.ui.modal{
  width:50%; height:50%;
  left:25%;
  margin: 0 auto;
}
